<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no" />
    <title>Dummy Application</title>
    <style type="text/css">
        html { height: 100% }
        body { height: 100%; margin: 0; padding: 0 }
        #map_canvas { height: 100% }
    </style>
        <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCh8b3X8KrZsBoohtomZS3gyXCjmqXTbE0&sensor=false" >
     </script>
     <script type='text/javascript' src='{{ url_for('static', filename='js/geoxml3.js') }}'>
     </script>
    <script type="text/javascript">
      function initialize() {
        var mapOptions = {
          center: new google.maps.LatLng(41.875, -87.624),
          zoom: 11,
          mapTypeId: google.maps.MapTypeId.ROADMAP
        };

        
        var kmlURL = 'https://dl.dropboxusercontent.com/s/a6qkfta0542jjd8/8449.kml?token_hash=AAFT0a0okTPDXYlLDXu067281DFqPlCyJfqonm1WF4M8Nw&dl=1';
        
        var myMap = new google.maps.Map(document.getElementById("map_canvas"),
            mapOptions);

        var myParser = new geoXML3.parser({map: myMap,
                                           afterParse: useTheData
                                          });
        myParser.parse(kmlURL);

        /*
        var ctaLayer = new google.maps.KmlLayer(kmlURL);

        ctaLayer.setMap(myMap);
        google.maps.event.addListener(ctaLayer, 'click', function(obj){
                     alert(obj.featureData.name);
            });
        */
         
        
      }
      function useTheData(doc){
          var geoXmlDoc = doc[0];
          for (var i = 0; i < geoXmlDoc.placemarks.length; i++){
              var placemark = geoXmlDoc.placemarks[i];
              /*var kmlStrokeColor = kmlColor(placemark.style.color);
              var kmlFillColor = kmlColor(placemark.style.fillcolor);
              */
              var normalStyle = {
                                  strokeColor: placemark.style.strokeColor,
                                  strokeWeight: placemark.style.width,
                                  strokeOpacity: placemark.style.strokeOpacity,
                                  fillColor: placemark.style.fillColor,
                                  fillOpacity: placemark.style.fillOpacity
                                 };
              placemark.polygon.normalStyle = normalStyle;
              placemark.polygon.clicked = 0;
              highlightPoly(placemark.polygon);
          }
      }
      var highlightOptions = {fillColor: "#FFFF00", strokeColor: "#000000", 
                              fillOpacity: 0.9, strokeWidth: 10};

      function highlightPoly(poly){
         google.maps.event.addListener(poly,"click",function() {
         if (poly instanceof google.maps.Polygon) {
             if(poly.clicked == 0){
              poly.setOptions(highlightOptions);
              poly.clicked = 1;
             }
             else{
              poly.setOptions(poly.normalStyle);
              poly.clicked = 0;
             }
          }
         });
      }
    </script>

</head>
<body onload="initialize()">
  {% block content %}
  {% endblock %}
</body>
</html>
