<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no" />
    <title>Dummy Application</title>
    <style type="text/css">
        html { height: 100% }
        body { height: 100%; margin: 0; padding: 0 }
        #map_canvas { height: 100% }
    </style>
        <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCh8b3X8KrZsBoohtomZS3gyXCjmqXTbE0&sensor=false" >
     </script>
     <script type='text/javascript' src='{{ url_for('static', filename='js/geoxml3.js') }}'>
     </script>
    <script type="text/javascript">
      function initialize() {
        var mapOptions = {
          center: new google.maps.LatLng(41.875, -87.624),
          zoom: 11,
          mapTypeId: google.maps.MapTypeId.ROADMAP
        };

        var geoXmlDoc = null; 
        
        var kmlURL = 'https://dl.dropboxusercontent.com/s/a6qkfta0542jjd8/8449.kml?token_hash=AAFT0a0okTPDXYlLDXu067281DFqPlCyJfqonm1WF4M8Nw&dl=1';
        
        /*
        var kmlURL = 'https://dl.dropboxusercontent.com/s/vcropcl1l1v21nh/polygons.kml?token_hash=AAEyHJkVcO_H6xbXmd5gzU-_92vZhAdyxQ0MMzqliVv7Bg&dl=1';
        */
        /*
        var kmlURL = 'https://dl.dropboxusercontent.com/s/ztnimpt4lbld0w6/polygon-simple.kml?token_hash=AAHXlQTw1wTq_ffhXzWMjPgZEwDnsPFyvrJvmd62qAx-Xw&dl=1';
        */
        /*
        var kmlURL = 'https://dl.dropboxusercontent.com/s/p3mi0ose3rvxodb/1polygon.kml?token_hash=AAFheRoPvTi-PkOMlR0Aw7QlBujSATkWuLAVOpE8jjCKaw&dl=1';
       */

        var myMap = new google.maps.Map(document.getElementById("map_canvas"),
            mapOptions);

        var myParser = new geoXML3.parser({map: myMap,
                                           suppressInfoWindows:true,
                                           afterParse: useTheData
                                          });
        myParser.parse(kmlURL);

        /*
        var ctaLayer = new google.maps.KmlLayer(kmlURL);

        ctaLayer.setMap(myMap);
        google.maps.event.addListener(ctaLayer, 'click', function(obj){
                     alert(obj.featureData.name);
            });
        */
         
        
      }
      function useTheData(doc){
          geoXmlDoc = doc[0];
          for (var i = 0; i < geoXmlDoc.placemarks.length; i++){
              var placemark = geoXmlDoc.placemarks[i];
              /*var kmlStrokeColor = kmlColor(placemark.style.color);
              var kmlFillColor = kmlColor(placemark.style.fillcolor);
              */
              var normalStyle = {
                                  strokeColor: placemark.style.strokeColor,
                                  strokeWeight: placemark.style.width,
                                  strokeOpacity: placemark.style.strokeOpacity,
                                  fillColor: placemark.style.fillColor,
                                  fillOpacity: placemark.style.fillOpacity
                                 };
              if(placemark.polygon){
                  placemark.polygon.normalStyle = normalStyle;
                  placemark.polygon.clicked = 0;
                  addEventsPoly(placemark.polygon);
              }
          }
      }
      var highlightOptions = {fillColor: "#FFFF00", strokeColor: "#000000", 
                              fillOpacity: 0.9, strokeWidth: 10};

      function highlightPoly(poly, options){
         poly.setOptions(options);
      }
      function addEventsPoly(poly){
         google.maps.event.addListener(poly,"click",function() {
         if (poly instanceof google.maps.Polygon) {
             if(poly.clicked == 0){
              highlightPoly(poly, highlightOptions);
              highlightAdjacent(poly);
              poly.clicked = 1;
             }
             /*
             else{
              highlightPoly(poly, poly.normalStyle);
              poly.clicked = 0;
             }
             */
          }
         });
      }
      function highlightAdjacent(poly){
          var poly_paths = poly.getPath().getArray();
          for (var i = 0; i < geoXmlDoc.placemarks.length; i++){
               var placemark = geoXmlDoc.placemarks[i];
               if(placemark.polygon){
                  var paths = placemark.polygon.getPath().getArray();
                  for(var j=0; j<poly_paths.length; j++){
                    for(var k=0;k<paths.length;k++){
                       if((poly_paths[j].lb == paths[k].lb) &&
                                 (poly_paths[j].mb == paths[k].mb)){
                           highlightPoly(placemark.polygon, highlightOptions);
                           break;
                       }
                    }
                  }
               }    
          }
        
      }
    </script>

</head>
<body onload="initialize()">
  {% block content %}
  {% endblock %}
</body>
</html>
